<template>
    <div>
        <input type="number" v-model="cp_num1" @change="changeNum1"/>
        <input type="number" v-model="cp_num2" @change="changeNum2"/>
    </div>
</template>

<script>
export default {
    name: 'Entrada',
    props : {
        num1 : Number,
        num2 : Number
    },
    computed: {
        cp_num1 : {
        get(){
            return this.num1;
        },
        set(v1){
            this.num1 = v1;
        },
        cp_num2 : {
        get(){
            return this.num2;
        },
        set(v1){
            this.num2 = v1;
        }
    },
    methods : {
        changeNum1(event){
            this.$emit('changeNum1',event);
        },
        changeNum2(event){
            this.$emit('changeNum2',event);
        }
    }
}
</script>
