<template>
    <div>
    <p>{{soma}}</p>
    <p>{{subtracao}}</p>
    <p>{{multiplicacao}}</p>
    </div>
</template>

<script>
export default {
    name: 'Resultado',
    props : {
        soma : Number,
        subtracao : Number,
        multiplicacao : Number
    }    
}
</script>
