<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <app-entrada 
        :cp_num1="num1"
        :cp_num2="num2"
        @changeNum1="alteraNum1"
        @changeNum2="alteraNum2"></app-entrada>
    <app-resultado 
        :soma="soma"
        :subtracao="subtracao"
        :multiplicacao="multiplicacao"></app-resultado>
    
    <!--
      <input type="number" v-model="num1" @change="alteraNum1"/>
    <input type="number" v-model="num2" @change="alteraNum2"/>
      <p>{{soma}}</p>
    <p>{{subtracao}}</p>
    <p>{{multiplicacao}}</p> --> 
  </div>
</template>

<script>
import Resultado from './components/Resultado';
import Entrada from './components/Entrada';
export default {
  name: 'app',
  components: {
    'app-resultado' : Resultado,
    'app-entrada' : Entrada
  },
  data() {
    return {
    num1: 0,
    num2: 0
    }
  },
  
  methods : {
    alteraNum1(event){
      this.num1 = event.target.value;
    },
    alteraNum2(event){
      this.num2 = event.target.value;
    }
  },
  computed: {
    soma : {
      get(){
        return 1*this.num1 + 1*this.num2
      },
      set(v1,v2){
        this.num1 = v1;
        this.num2 = v2;
      }
    },
    subtracao : {
      get(){
        return this.num1 - this.num2
      },
      set(v1,v2){
        this.num1 = v1;
        this.num2 = v2;
      }
    },
    multiplicacao : {
      get(){
        return this.num1 * this.num2
      },
      set(v1,v2){
        this.num1 = v1;
        this.num2 = v2;
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
